<section class="content">
  <%= simple_form_for(@order_owner, :url => admin_order_owner_path(@order_owner.id), role: 'form', html: { class: 'order_owner_form' }) do |f| %>
    <%= render 'form' , f: f %>
  <% end %>
  <%= link_to t(:'button.back'), admin_order_owners_path, class: 'btn btn-default' %>
</section>