<p>Hello, <%= @order_owner.name %></p>

<p>We wanted to take a moment to notify you of the remaining balance on your account with us. As of today, your current balance is ¥<%= @order_owner.balance %>.</p>

<p>If you require any assistance or have any questions, please do not hesitate to contact us.</p>

<p>Thank you for your prompt attention to this matter.</p>

<p>Best regards,</p>

<p><b>Fingertips</b></p>