body {
  font-size: 14px;
}

.content-header {
  small a {
    font-weight: 400;
  }
}

.content-header {
  small {
    font-size: 15px;
  }
}

.filter_margin {
  text-align: left;
  position: relative;
  margin-top: 5px;
  margin-right: 2px;
}

.select2-container {
  width: 100% !important;
}

@media (max-width: 767px) {
  .card-header > .card-tools {
    position: static;
  }
}

.table > thead > tr > th {
  border-top: none;
}
.table > thead > .group-header > th {
  border-bottom: none;
  border-top: none;
}

.table-items th.color , .table-items td.color {
  width: 150px;
}

.box-fields-for {
  margin-left: 20px;

  .nested-fields {
    margin-left: 20px;
  }
}

.form-control.flatpickr {
  background-color: #FFFFFF;
}

// Fix the problem for show page table last <th> wraping the text 
tr th:last-child {
  width: 1%;
  white-space: nowrap;
}

tr td:last-child {
  width: 1%;
  white-space: nowrap;
}

.wrap {
  word-wrap: break-word;
}

// Set the date picker style more like AdminLTE style
.flatpickr-form {
  border: 1px solid #c3c3c3;
  height: 36px;
  line-height: 36px;
  width: 80%;
  padding: 4px;
  max-width: 360px;
  border-radius: 3px;
  background: #fff;
}

textarea {
  border: none;
  width: 100%;
  -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
     -moz-box-sizing: border-box; /* FF1+ */
          box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

// Not work with using Adminlte3 class
// Do this myself
li > ul {
  margin-left: 15px;
}

.environment-heading {
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 90%;
  text-align: right;
  color: #000000;
  font-size: 35px;
  // background-color: #ffffff;
  background-color: transparent;
  opacity: 0.6;
}

.sidebar_add {
  z-index: 10000;
}

.copy-text-btn {
  height: 38px;
  margin-top: 29px;
  bottom: 0;
  text-align: center;
  display: flex;       // 垂直水平置中
  align-items: center; // 垂直水平置中
  position: relative;
}

.copy-text-btn .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 80%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.copy-text-btn .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.copy-text-btn:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}